spring:
  datasource:
#    url: jdbc:mysql://127.0.0.1:3306/user?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=false
    url: jdbc:mysql://127.0.0.1:3306/datedatabase?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
#    password: 2487302491m
    password: ycc20031013w
    driver-class-name: com.mysql.cj.jdbc.Driver
  profiles:
    active: dev
server:
  port: 8125
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.together.date.service.entity
  configuration:
    map-underscore-to-camel-case: true
